

<div>
  <div class='sign-up-div'>
    <div>
      <div class="signup-form">
        <article>
          <p>
             LOSE UP TO 30 POUNDS PER WEEK*
            <br>
              <h1><span class='red-text'>
                Get Unlimited
                <br>
                WEIGHT LOSS
                  </span>
                <br>
                For $99
              </h1>
              <br>
              <h3>Book a <span class='red-text'>FREE</span> Consultation</h3>
          </p>
        </article>
        <form action='/signup' method='POST'>
            <div class="form-row">
              <div class="form-group col-md-6">
                 <label for="firstname">First Name</label>
                 <input type="firstname" class="form-control">
              </div>  

              <div class="form-group col-md-6">
                 <label for="lastname">Last Name</label>
                 <input type="lastname" class="form-control">
               </div>
             </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input type="email" class="form-control">
                </div>
              <div class="form-group col-md-6">
                <label for="phoneNumber">Phone Number</label>
                <input type="phoneNumber" class="form-control">
              </div>
            </div>
          </form>
        <button  class='signup-btn' type="button">Select a Center & Time</button>
      </div>
    </div>
  </div>
   
<!-----------------GET STARTED SECTION------->

  
  <div class='qwlc-div'>
    <div>
      <p>
        <h1>A Weight Loss Plan<br>
          for everyone!
        </h1>
            <br>
        <h2>
          Welcome to <br>
          <span class='red-text'>
          Quick Weight Loss Centers
          </span>
        </h2>
          <br>
        <h3>Help Change Lives Every Day</h3>
        </p>
          <br>
        <div>
          <p>
            At Quick Weight Loss Centers, we help individuals, couples, and families lose weight rapidly while learning what to eat, how to eat, and how to stay healthy for life.
          </p>

          <p>
            If you want to directly make a difference in the lives of others by supporting our clients along their weight loss journeys, you may be interested in a career with us. We are always looking for passionate individuals with sales, customer service, nutrition, health, or medicals fields.
          </p>
        </div>
      <button class='blue-btn'type='button'>Let's Get Started</button>
    </div>
      
    <div>
      <img class='pills-couple' src='./images/qwlc-couple-withPils.png' alt=''>
    </div>
  </div>

  <div class='how-it-works-div'>
    <h2 class='center-title'>How It Works?</h2>
    <div class='flex-divs'>
      
      <div class='col-sm-4'>
        <h3 class='red-text'>Rapid Results <br>
          Motivation For More
          </h3>
            <p> This phase is all about food! What to eat, hwo often to eat, and what foods to eat together.</p>
      </div>  

     <div class='col-sm-4'>
       <h3 class='red-text'>Stabilize Your Weight<br>
          Support Your Change</h3>
           <p>In this phase, our counselors recommend adding foods back in to increase your daily calories and stabilize your weight. </p>
     </div>

      <div class='col-sm-4'>
       <h3 class='red-text'>Maintain Your Goals <br>
         Live Your Best Life </h3>
         <p>We continue to support you after your stabilization. If you begin to regain weight, we will get you back on track immediately. </p>
      </div>
    </div>
  </div>



    <div>

      <div class="center-title">
      <h2 class='blue-text'>WE GIVE YOU EVERYTHING YOU NEED TO SUCCEED</h2>
      <p>Get Rapid Results with one of our amazing programs, plus unlimited support of counselors 6 days a week.</p>
      </div>

    <div class="float-right three-steps">

    <div>
      <h3 class='blue-text'>
        One-On-One Counseling
      </h3>
      <p>
        Unlimited access to counselors6 days a weel for ongoing support along your journey.
      </p>
    </div>

      <div>
        <h3 class='blue-text'>
          Peace of Mind
        </h3>
        <p>
          Service gaurantee to help you acheive rapid weight loss.
        </p>
      </div>

      <div>
        <h3 class='blue-text'>
          Supported Philosophy
        </h3>
        <p>
          The Quick Weight Loss Center Program has been helping people lose their weight and discover new eating habits for over 25 years.
        </p>
      </div>

  </div>

    <div>

      <div class='pill-bottle-pic'>
      <img class='pill-bottle' src='./images/qwlc-plls.jpeg' alt='QWLC Pill bottle'>
      </div>

  <div class=''>

    <div class="center-items">
      <button class='blue-btn' type='button'>LET'S GET STARTED</button>
    </div>

  <br>
      <h2 class='center-title'>Book your <span class='red-text'> FREE <span class='blue-text'> Consultation </span>Now!</span></h2>
  </div>

    </div>



  </div>

<!-----------STORY OF SUCCESS SECTION ------------------>

  <div class='sos-div'>
    <div class='sos-div-with-image '>

      <div class=''>
        <div>
          <h1>Story Of Success</h1>
        </div>

        <div>
          <h2>Read stories of people <br>
            just like you who have done it with <br>
            Quick Weight Loss Centers.</h2>
        </div>

        <div>
           <p>Whether you are trying to lose 10 pounds or over 100 pounds*, we will tailor your program to reach your goal weight as rapidly as possible and help you keep the weight off.</p>
        </div>

        <div>
          <button class='blue-btn' type='button'>LEARN MORE</button>
        </div>
      </div>

        <div class=''>
          <img class='beforeAfter-img' src='./images/beforeAfter.jpg' alt='Before Weight Loss pic'>
        </div>
    </div>
  </div>

<!-----------------RED BACKGROUND SECTION-------------------->

  <div class='red-section sos-div-with-image'>
    <div class='meals'>
      <img class='meal-pic' src='./images/qwlc-meal-1.jpeg' alt='meal pic'>
      <img class='meal-pic' src='./images/qwlc-meal-2.jpg' alt='meal pic'>
      <img class='meal-pic' src='./images/qwlc-meal-3.jpg' alt='meal pic'>
      <img class='meal-pic' src='./images/qwlc-meal-4.jpg' alt='meal pic'>
    </div>

    <div class='red-section-p'>
      <p>
        <h2>
        Your favorite classic recipes modified for your weight loss journey.
        </h2>
      </p>
        <button class='blue-btn' type='submit'>LEARN MORE</button>
    </div>
    <div>
      <img class='thinkingWoman' src='./images/thinkingWoman.png'>
    </div>
  </div>

<!-------------LINKS SECTION---------------------->

  <div class='link-div'>
    <div>
      <h5>HELPFUL LINKS</h5>
        <ul class='links'>
          <li>Weight Loss Programs</li>
          <li>Weight Loss Stories</li>
          <li>Orders & Returns</li>
          <li>Frequently Asked Questions</li>
          <li>Blog</li>
          <li>About Company</li>
        </ul>
    </div>

    <div>
      <h5>INFORMATION</h5>
        <ul class='links'>
          <li>List of Locations</li>
          <li>Privacy Statement</li>
          <li>Money Back Guarantee</li>
          <li>Service Guarantee</li>
          <li>Terms of Service</li>
          <li>Contact Us</li>
          <li>Careers</li>
        </ul>
    </div>

    <div>
      <h5>SIGN UP FOR OUR NEWSLETTER</h5>
        <form action='/signup' method='POST'>
          <label>Email address</label>
            <br>
          <input type='emailAdress' placeholder="Your email address">
              <br><br>
            <button class='red-btn' type="button">Sign up</button>
        </form>
    </div>

    <div>
      <h5>ADDRESS</h5>
        <p class='grey-text'>Quick Weight Loss Centers LLC <br>
        3161 W. McNab Road <br>
        Pompano Beach, FL 33069</p>
    </div>
  </div>

  <!-----------------FOOTER------------------>

  <div class="footer">

    <div class='contact-icons'>
       <a href='https://www.instagram.com/explore/tags/weightloss/?hl=en'><i class="fab icon-padding fa-instagram"></i></a>
       <a href='https://www.facebook.com/quickweightlosscenters/'><i class="fab icon-padding fa-facebook-f"></i></a>
       <a href='https://twitter.com/qwlcga?lang=en'<i class="fab icon-padding fa-twitter"></i></a>
       <a href='https://www.pinterest.com/skinnyms/weight-loss/'<i class="fab icon-padding fa-pinterest-p"></i></a>
    </div>

    <div>
      <p>*plus the cost of supplements.<br>
      **Members following our program, on average, lose 1-3 lbs. per week. Every Quick Weight Loss Centers plan is custom tailored for the individual and results may vary based on participation and adherence to the plan.<br>
      <i class="far fa-copyright"></i>2018 Quick Weight Loss Centers, LLC. All Rights Reserved.</p>
    </div>










  </div>

</div>