
<div>

<div class='sign-up-div'>


<div>
  <div class="signup-form">
<article>
<p>

LOSE UP TO 30 POUNDS PER WEEK*
  <br>
<h1><span class='red-text'>

Get Unlimited

  <br>
    WEIGHT LOSS
</span>
  <br>
For 99$
</h1>
</p>
</article>


    <form action='/signup' method='POST'>

        <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstname">First Name</label>
      <input type="firstname" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="lastname">Last Name</label>
      <input type="lastname" class="form-control">
    </div>
  </div>
      <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="phoneNumber">Phone Number</label>
      <input type="phoneNumber" class="form-control">
    </div>
  </div>
    
    
    
    </form>
    <button  class='signup-btn' type="button">Select a Center & Time</button>
  </div>

</div>
</div>

<div class='qwlc-div'>
  
<div>
  <p>
  <h1>A Weight Loss Plan<br>
  for everyone!
  </h1>
<h2>

Welcome to <br>
Quick Weight Loss Centers
</h2>
  </p>

<div>

  <p>
  At Quick Weight Loss Centers, we help individuals, couples, and families lose weight rapidly while learning what to eat, how to eat, and how to stay healthy for life.
  </p>

<p>
If you want to directly make a difference in the lives of others by supporting our clients along their weight loss journeys, you may be interested in a career with us. We are always looking for passionate individuals with sales, customer service, nutrition, health, or medicals fields.
</p>
</div>

</div>

<button class='get-started-btn'type='button'>Let's Get Started</button>
</div>

<div class='how-it-works-div'>

  <h3>How It Works</h3>

  <div>
    <h4>Rapid Results <br>
    Motivation For More</h4>
   <p> This phase is all about food! What to eat, hwo often to eat, and what foods to eat together.</p>
  </div>

<div>
  <h4>Stabilize Your Weight<br>
  Support Your Change</h4>
  <p>In this phase, our counselors recommend adding foods back in to increase your daily calories and stabilize your weight. </p>
</div>

<div>
  <h4>Maintain Your Goals <br>
  Live Your Best Life </h4>
  <p>We continue to support you after your stabilization. If you begin to regain weight, we will get you back on track immediately. </p>
</div>


</div>


</div>