
<div>

<div class='sign-up-div'>


<div>
  <div class="signup-form">
<article>
<p>

LOSE UP TO 30 POUNDS PER WEEK*
  <br>
<h1><span class='red-text'>

Get Unlimited

  <br>
    WEIGHT LOSS
</span>
  <br>
For 99$
</h1>
</p>
</article>


    <form action='/signup' method='POST'>

        <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstname">First Name</label>
      <input type="firstname" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="lastname">Last Name</label>
      <input type="lastname" class="form-control">
    </div>
  </div>
      <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="phoneNumber">Phone Number</label>
      <input type="phoneNumber" class="form-control">
    </div>
  </div>
    
    
    
    </form>
    <button  class='signup-btn' type="button">Select a Center & Time</button>
  </div>

</div>
</div>

<div class='qwlc-div'>
  
<div>
  <p>
  <h1>A Weight Loss Plan<br>
  for everyone!
  </h1>
<h2>

Welcome to <br>
Quick Weight Loss Centers
</h2>
  </p>

<div>

  <p>
  At Quick Weight Loss Centers, we help individuals, couples, and families lose weight rapidly while learning what to eat, how to eat, and how to stay healthy for life.
  </p>

<p>
If you want to directly make a difference in the lives of others by supporting our clients along their weight loss journeys, you may be interested in a career with us. We are always looking for passionate individuals with sales, customer service, nutrition, health, or medicals fields.
</p>
</div>

</div>

<button class='get-started-btn'type='button'>Let's Get Started</button>
</div>

<div class='how-it-works-div'>

  <h2 class='center-title'>How It Works?</h2>
<div class='flex-divs'>

  <div class='col-sm-4'>
    <h3 class='red-text'>Rapid Results <br>
    Motivation For More</h3>
   <p> This phase is all about food! What to eat, hwo often to eat, and what foods to eat together.</p>
  </div>

<div class='col-sm-4'>
  <h3 class='red-text'>Stabilize Your Weight<br>
  Support Your Change</h3>
  <p>In this phase, our counselors recommend adding foods back in to increase your daily calories and stabilize your weight. </p>
</div>

<div class='col-sm-4'>
  <h3 class='red-text'>Maintain Your Goals <br>
  Live Your Best Life </h3>
  <p>We continue to support you after your stabilization. If you begin to regain weight, we will get you back on track immediately. </p>
</div>

</div>

</div>

<div>

  <div class="center-title">
  <h2>WE GIVE YOU EVERYTHING YOU NEED TO SUCCEED</h2>
  <p>Get Rapid Results with one of our amazing programs, plus unlimited support of counselors 6 days a week.</p>
  </div>

<div class="float-right three-steps">

  <div>
    <h3 class='blue-text'>
      One-On-One Counseling
    </h3>
    <p>
      Unlimited access to counselors6 days a weel for ongoing support along your journey.
    </p>
  </div>

    <div>
      <h3 class='blue-text'>
        Peace of Mind
      </h3>
      <p>
        Service gaurantee to help you acheive rapid weight loss.
      </p>
    </div>

    <div>
      <h3 class='blue-text'>
        Supported Philosophy
      </h3>
      <p>
        The Quick Weight Loss Center Program has been helping people lose their weight and discover new eating habits for over 25 years.
      </p>
    </div>

</div>
  
  <div>

    <div class='pill-bottle-pic'>
    <img class='pill-bottle' src='./images/qwlc-plls.jpeg' alt='QWLC Pill bottle'>
    </div>

<div class=''>

  <div class="center-items">
    <button class='blue-btn' type='button'>LET'S GET STARTED</button>
  </div>

<br>
    <h2 class='center-title'>Book your <span class='red-text'> FREE <span class='blue-text'> Consultation </span>Now!</span></h2>
</div>

  </div>



</div>


</div>