body {


  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.company-logo {
  width: 88px;
  height: 44px;
  float: left
}

.navBar {
  
  margin: 0 100px 0 100px;
}

.nav-btn{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}


.sign-up-div {
  background-color: teal;
  padding: 100px 0 50px 850px;
  height: auto;
  background-image: url('../images/FitnessCouple.png');
  background-repeat: no-repeat;
  background-size: contain;
  
  
  
}

* {
  margin-left: 0;
  margin-right: 0;
}

.signup-form{
  border:2px solid black;
  border-radius: 15px;
  background-color: white;
  padding: 30px;
  height: auto;
  width: 30vw;

}

.form-float{
  float: right;
}

.navPad{
  padding: 20px 60px;
}

h1{
  padding: 0;
  margin: 0;
}

.red-text{
  color: red;
}

.blue-text {
  color: blue;
}

.signup-btn{
  background-color: red;
  color: white;
  font-display: bold;
  width: 370px;
  text-align: center;
  height: 35px;
  
}

.blue-btn{
  background-color: blue;
  color: white;
  display: flex;
  justify-items: center;
}

.qwlc-div {
  padding: 20px 0 20px 213px;
  width: 772px;
  font-size: 1.2em;
  background-image: url('../images/qwlc-pills-people.png.psd');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  
}

.get-started-btn {

  background-color: red;
  color: white;
  font-display: bold;
  width: 270px;
  text-align: center;
  height: 35px;

}

.how-it-works-div {
  background-color: lightgrey;
}

.span-details {
  width: 30vw;

}

.center-title{
  text-align: center;
  padding-top: 40px;
}

.flex-divs{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.flex-divs h4 {
  color: red;
}

.three-steps {
  width: 40vw;
  padding: 75px 136px 0px 0px;
  
}

.pill-bottle{
  height: 105vh;
  width: 39vw;
}

.pill-bottle-pic{
  padding: 0px 0px 0px 170px;
}

.center-items{
  display: flex;
 justify-items: center;
}